{% extends 'index.html' %}




{% block content %}

 <div class="col-lg-4 mb-4">
	 			<a class="btn btn-outline-primary" href="{{url_for('news_india_business')}} ">Business
	 		 	<img src="http://pluspng.com/img-png/stock-market-png-128x128-px-stockmarket-icon-256x256-png-256.png" alt="Business"></a>	 		 
	 		</div>
	 		<div class="col-lg-4 mb-4">
	 			  	 <a class="btn btn-outline-primary" href="{{url_for('news_india_health')}}">Health
	 		 	<img src="http://aux.iconspalace.com/uploads/health-sign-icon-256.png" alt="Health"></a> 
	 		</div>		 
	 	
	 		<div class="col-lg-4 mb-4">
	 			  	 <a class="btn btn-outline-primary" href="{{url_for('news_india_science')}}">Science
	 		 	<img src="https://cdn.iconscout.com/public/images/icon/premium/png-256/chemistry-chemical-science-of-matter-lab-scientific-research-laboratory-3a95020d7dc5d3ae-256x256.png" alt="Science and Technology"></a>
	 		  
	 		</div>
	 	
	 		<div class="col-lg-4 mb-4">
	 			  	<a class="btn btn-outline-primary" href="{{url_for('news_india_sports')}}">Sports
	 		 	<img src="https://cdn.iconscout.com/icon/free/png-256/sport-game-batsman-cricket-player-bat-ball-pad-gloves-helmet-29296.png" alt="Sport">	 		 </a>  
	 		</div>
	 	
			<div class="col-lg-4 mb-4">
	 			  	<a class="btn btn-outline-primary" href="{{url_for('news_india_entertainment')}}">Movies
	 		 	<img src="https://www.shareicon.net/data/256x256/2016/08/18/816546_theater_512x512.png" alt="Entertainment"></a>	 
	 		</div>	 	
	 		<div class="col-lg-4 mb-4">
	 			  	<a class="btn btn-outline-primary" href="{{url_for('weather')}}">Weather
	 		 	<img src="https://www.freeiconspng.com/uploads/weather-icon-png-25.png" alt=""></a>  
	 		</div> 	

{% endblock %}